{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="category">Category</label>
    <input name="category" id="category" value="{{ request.form['category'] }}" required>

    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>

    <label for="quantity">Quantity</label>
    <input name="quantity" id="quantity" value="{{ request.form['quantity'] }}" required>

    <label for="price">Price</label>
    <input name="price" id="price" value="{{ request.form['price'] }}" required>

    <label for="size">Size</label>
    <input name="size" id="size" value="{{ request.form['size'] }}" required>

    <label for="photo_link">photo link</label>
    <input name="photo_link" id="photo_link" value="{{ request.form['photo_link'] }}" required>




    <input type="submit" value="Save">
  </form>
{% endblock %}