{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}faruk{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('product.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table>
  <tr>
  {% for key in keys %}
  <th>{{ key }}</th>
  {% endfor %}
  </tr>
<!--    <td>-->
<!--    {% for c in category %}-->
<!--    {{ c }}-->
<!--    {% endfor %}-->
<!--    </td>-->
    {% for n in name %}
     <tr>
       <td>
    {{ n }}
       </td>
     </tr>
    {% endfor %}



</table>
{% endblock %}