<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>

	<title>HTML Tables Demo</title>
</head>
<body>
	<div class="container">
		<h4 class="text-center">DASSDASASD</h4>
		<table id="example" class="display">
			<thead>
			<tr>
				<th>category</th>
				<th>photo_link</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>
				<th>6</th>
				<th>7</th>
				<th>8</th>
			</tr>
			</thead>
		</table>
	</div>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>

	<script>
		$(document).ready(function() {
    		$('#example').DataTable();
		} );
	</script>
</body>
</html>